In [24]:
dataFrame <- 0==0
dataFrame 
# logical Data frame
class(dataFrame)

[1] TRUE

[1] "logical"

In [25]:
dataFrame <- "TRUE"
dataFrame
class(dataFrame)

[1] "TRUE"

[1] "character"

In [28]:
dataFrame <- 12.45
class(dataFrame)

[1] "numeric"

In [30]:
dataFrame <- as.integer(12)
class(dataFrame)

[1] "integer"

In [31]:
dataFrame <- 12L  # also used to declare the integer as(int_valueL)
class(dataFrame)

[1] "integer"

In [32]:
# Declare a variable to read and store the data frame 
captaincy <- read.csv("CaptaincyData.csv")

In [36]:
str(captaincy)
# captaincy

'data.frame':	6 obs. of  9 variables:
 $ names  : chr  "Azhar" "Dravid" "Mahi" "Pataudi" ...
 $ Y      : int  2000 2008 2012 1965 2004 1980
 $ played : int  47 25 45 40 49 47
 $ won    : int  14 8 22 9 21 9
 $ lost   : int  14 6 12 19 13 8
 $ victory: num  0.298 0.32 0.489 0.225 0.429 ...
 $ drawn  : int  19 11 11 12 15 30
 $ defeat : num  0.298 0.24 0.267 0.475 0.265 ...
 $ formats: int  2 2 3 1 2 2

# Factors in R

Factors are such variables in R -
# take on a limited no. of diff. values
# are often reffered to as categorical variables

In [37]:
captaincy$names

[1] "Azhar"   "Dravid"  "Mahi"    "Pataudi" "Sourav"  "Sunny"

In [39]:
names  <- as.character(captaincy$names)
names
str(captaincy)

[1] "Azhar"   "Dravid"  "Mahi"    "Pataudi" "Sourav"  "Sunny"

'data.frame':	6 obs. of  9 variables:
 $ names  : chr  "Azhar" "Dravid" "Mahi" "Pataudi" ...
 $ Y      : int  2000 2008 2012 1965 2004 1980
 $ played : int  47 25 45 40 49 47
 $ won    : int  14 8 22 9 21 9
 $ lost   : int  14 6 12 19 13 8
 $ victory: num  0.298 0.32 0.489 0.225 0.429 ...
 $ drawn  : int  19 11 11 12 15 30
 $ defeat : num  0.298 0.24 0.267 0.475 0.265 ...
 $ formats: int  2 2 3 1 2 2

In [40]:
captaincy$formats <- factor(captaincy$formats)
str(captaincy)

'data.frame':	6 obs. of  9 variables:
 $ names  : chr  "Azhar" "Dravid" "Mahi" "Pataudi" ...
 $ Y      : int  2000 2008 2012 1965 2004 1980
 $ played : int  47 25 45 40 49 47
 $ won    : int  14 8 22 9 21 9
 $ lost   : int  14 6 12 19 13 8
 $ victory: num  0.298 0.32 0.489 0.225 0.429 ...
 $ drawn  : int  19 11 11 12 15 30
 $ defeat : num  0.298 0.24 0.267 0.475 0.265 ...
 $ formats: Factor w/ 3 levels "1","2","3": 2 2 3 1 2 2

In [41]:
levels(captaincy$formats)

[1] "1" "2" "3"

In [42]:
levels(captaincy$formats) <- c("one","two","three")

In [44]:
print(captaincy$format)

[1] two   two   three one   two   two
Levels: one two three