# Merging and importing Data

Implementing the buitl in functions

In [39]:
cap = read.csv("CaptaincyData.csv")
cap

  names   Y    played won lost victory
1 Mahi    2012 45     22  12   0.4888889
2 Sourav  2004 49     21  13   0.4285714
3 Azhar   2000 47     14  14   0.2978723
4 Sunny   1980 47      9   8   0.1914894
5 Pataudi 1965 40      9  19   0.2250000
6 Dravid  2008 25      8   6   0.3200000

In [3]:
summary(cap)

    names                 Y            played           won
 Length:6           Min.   :1965   Min.   :25.00   Min.   : 8.00
 Class :character   1st Qu.:1985   1st Qu.:41.25   1st Qu.: 9.00
 Mode  :character   Median :2002   Median :46.00   Median :11.50
                    Mean   :1995   Mean   :42.17   Mean   :13.83
                    3rd Qu.:2007   3rd Qu.:47.00   3rd Qu.:19.25
                    Max.   :2012   Max.   :49.00   Max.   :22.00
      lost          victory
 Min.   : 6.00   Min.   :0.1915
 1st Qu.: 9.00   1st Qu.:0.2432
 Median :12.50   Median :0.3089
 Mean   :12.00   Mean   :0.3253
 3rd Qu.:13.75   3rd Qu.:0.4014
 Max.   :19.00   Max.   :0.4889

In [4]:
class(cap)

[1] "data.frame"

In [5]:
typeof(cap)

[1] "list"

In [13]:
head(cap,3)

  names  Y    played won lost victory
1 Mahi   2012 45     22  12   0.4888889
2 Sourav 2004 49     21  13   0.4285714
3 Azhar  2000 47     14  14   0.2978723

In [15]:
tail(cap,2)

  names   Y    played won lost victory
5 Pataudi 1965 40     9   19   0.225
6 Dravid  2008 25     8    6   0.320

In [16]:
str(cap)

'data.frame':	6 obs. of  6 variables:
 $ names  : chr  "Mahi" "Sourav" "Azhar" "Sunny" ...
 $ Y      : int  2012 2004 2000 1980 1965 2008
 $ played : int  45 49 47 47 40 25
 $ won    : int  22 21 14 9 9 8
 $ lost   : int  12 13 14 8 19 6
 $ victory: num  0.489 0.429 0.298 0.191 0.225 ...

#Merging Dataframe

In [29]:
cap2 <- read.csv("CaptaincyData2.csv")
cap2

  names   drawn defeat    formats
1 Mahi    11    0.2666667 3
2 Sourav  15    0.2653061 2
3 Azhar   19    0.2978723 2
4 Sunny   30    0.1702128 2
5 Pataudi 12    0.4750000 1
6 Dravid  11    0.2400000 2

In [40]:
cap <- merge(cap,cap2)
cap

  names   Y    played won lost victory   drawn defeat    formats
1 Azhar   2000 47     14  14   0.2978723 19    0.2978723 2
2 Dravid  2008 25      8   6   0.3200000 11    0.2400000 2
3 Mahi    2012 45     22  12   0.4888889 11    0.2666667 3
4 Pataudi 1965 40      9  19   0.2250000 12    0.4750000 1
5 Sourav  2004 49     21  13   0.4285714 15    0.2653061 2
6 Sunny   1980 47      9   8   0.1914894 30    0.1702128 2

Importing data in different format

In [41]:
install.packages("XML")

Installing package into 'C:/Users/Yash/AppData/Local/R/win-library/4.2'
(as 'lib' is unspecified)

package 'XML' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\Yash\AppData\Local\Temp\Rtmp88zaKq\downloaded_packages

In [44]:
library(XML)

In [49]:
xmldata <- xmlToDataFrame("CaptaincyData.xml")
xmldata

  names   Y    played won lost victory
1 Mahi    2012 45     22  12   0.488888888888889
2 Sourav  2004 49     21  13   0.428571428571429
3 Azhar   2000 47     14  14   0.297872340425532
4 Sunny   1980 47     9   8    0.191489361702128
5 Pataudi 1965 40     9   19   0.225
6 Dravid  2008 25     8   6    0.32

In [50]:
textdata <- read.table("CaptaincyData.txt")
textdata

  names   Y    played won lost victory
1 Mahi    2012 45     22  12   0.4888889
2 Sourav  2004 49     21  13   0.4285714
3 Azhar   2000 47     14  14   0.2978723
4 Sunny   1980 47      9   8   0.1914894
5 Pataudi 1965 40      9  19   0.2250000
6 Dravid  2008 25      8   6   0.3200000