In [3]:
# Lists and its Operations

cap <- read.csv("CaptaincyData.csv")

cap

  names   Y    played won lost victory
1 Mahi    2012 45     22  12   0.4888889
2 Sourav  2004 49     21  13   0.4285714
3 Azhar   2000 47     14  14   0.2978723
4 Sunny   1980 47      9   8   0.1914894
5 Pataudi 1965 40      9  19   0.2250000
6 Dravid  2008 25      8   6   0.3200000

In [8]:
subData <- cap[1:3,c("played","won","lost")]
subData

matrixA <- as.matrix(subData)
matrixA
myVector <- c(1:5)
myVector

  played won lost
1 45     22  12
2 49     21  13
3 47     14  14

  played won lost
1 45     22  12
2 49     21  13
3 47     14  14

[1] 1 2 3 4 5

In [11]:
# create a list using 
# cap , matrixA , myVector

myList <- list(cap,matrixA,myVector)
myList

[[1]]
    names    Y played won lost   victory
1    Mahi 2012     45  22   12 0.4888889
2  Sourav 2004     49  21   13 0.4285714
3   Azhar 2000     47  14   14 0.2978723
4   Sunny 1980     47   9    8 0.1914894
5 Pataudi 1965     40   9   19 0.2250000
6  Dravid 2008     25   8    6 0.3200000

[[2]]
  played won lost
1     45  22   12
2     49  21   13
3     47  14   14

[[3]]
[1] 1 2 3 4 5

In [12]:
# Giving some Names to the indexes of list 

names(myList) <- c("DataFrame","Matrix","Vector")

myList

$DataFrame
    names    Y played won lost   victory
1    Mahi 2012     45  22   12 0.4888889
2  Sourav 2004     49  21   13 0.4285714
3   Azhar 2000     47  14   14 0.2978723
4   Sunny 1980     47   9    8 0.1914894
5 Pataudi 1965     40   9   19 0.2250000
6  Dravid 2008     25   8    6 0.3200000

$Matrix
  played won lost
1     45  22   12
2     49  21   13
3     47  14   14

$Vector
[1] 1 2 3 4 5

In [15]:
myList["Vector"]    # accessing the elements through in indexes

myList["Matrix"]

$Vector
[1] 1 2 3 4 5

$Matrix
  played won lost
1     45  22   12
2     49  21   13
3     47  14   14

In [17]:
# alternatively we can use - 
myList$Vector

myList$Matrix

[1] 1 2 3 4 5

  played won lost
1 45     22  12
2 49     21  13
3 47     14  14

In [21]:
myList[2]

$Matrix
  played won lost
1     45  22   12
2     49  21   13
3     47  14   14

In [26]:
myList[[2]][,1]    # we can access the column of the matrix (1st col)  

# syntax : myList[[2]][,i]  for all i in cols

 1  2  3
45 49 47

In [28]:
myList[[2]][1,]    # we can access the row of the matrix (1st row)

# syntax : myList[[2]][j,]  for all j in rows

played    won   lost
    45     22     12

In [33]:
listSimple <- c("One","Two","Three")
merged.list <- c(myList,listSimple)

names(merged.list) <- c("DataFrame","Matrix","Vector","x","y","z")
merged.list

$DataFrame
    names    Y played won lost   victory
1    Mahi 2012     45  22   12 0.4888889
2  Sourav 2004     49  21   13 0.4285714
3   Azhar 2000     47  14   14 0.2978723
4   Sunny 1980     47   9    8 0.1914894
5 Pataudi 1965     40   9   19 0.2250000
6  Dravid 2008     25   8    6 0.3200000

$Matrix
  played won lost
1     45  22   12
2     49  21   13
3     47  14   14

$Vector
[1] 1 2 3 4 5

$x
[1] "One"

$y
[1] "Two"

$z
[1] "Three"